@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*Menu de navegacion responsive*/
/*Menu de navegacion*/


nav a {
  text-decoration: none; }

nav ul, ol, li {
  list-style: none; }


 
  
  .logo img{
    
    height: 80px;
    width: 100px;
    
  }
  nav.solid{
    background: #ffffffb6;
    
  }
nav {
  box-sizing: border-box;
  transition: all ease-in-out 1s;
  background: #0e447a00;
  
  padding: 10px 20px;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; }
  nav .logo {
    width: 22%;
  display: flex;
justify-content: right; }
  nav ul {
    position: absolute;
    top: 100px;
    left: 0;
    background: #3fa8e0da;
    justify-content:center ;
    width: 100%;
    
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .8s ease-out;
    z-index: 50; }
    nav ul .opciones {
      width: 90%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 80; }
      nav ul .opciones li {
        
        
        
        height: 40px;
        align-items: center;
        margin: 40px 0; }
        nav ul .opciones li a {
          color: #29aafe;
          font-size: 19px;
          padding: 10px 30px;
          display: inline-block;
          position: relative;
          }
          nav ul .opciones li a:hover {
            color: #15577b; }

            nav ul .opciones li a::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #15577b;
                transform: scaleX(0);
                transform-origin:bottom right ;
                transition: transform 0.6s ease-out;
            }
            nav ul .opciones li a:hover::after{
              transform: scaleX(1);
              transform-origin: bottom left;
            }
  nav .menu {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 20;
    cursor: pointer; }
   nav .menu span {
      width: 100%;
      height: 4px;
      border-radius: 4px;
      display: block;
      position: absolute;
      background: #63c0f3;
      transition: all 0.25s ease;
      transform-origin: 0px 100%; }
    nav .menu span:nth-child(2) {
      top: calc(50% - 2px); }
    nav .menu span:nth-child(3) {
      bottom: 0; }

.animacionMenu span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px); }

.animacionMenu span:nth-child(2) {
  opacity: 0; }

.animacionMenu span:nth-child(3) {
  transform: rotate(-45deg) translate(-3px, 3px); }

.activeMenu {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

.banner{
    background-image: url(/img/joven-pareja-feliz-haciendo-acuerdo-su-asesor-financiero-casa-hombres-dan-mano.jpg);
    background-repeat: no-repeat;
    background-size: 100% 130%;
    background-position: center;
    background-attachment: scroll;
    height: 770px;
    justify-content: center;
    justify-content: end;
    display: flex;
    flex-direction: column;
}
.image-background{
  background-image: url(/img/background\ para\ seccion\ de\ cleintes.png);
  background-repeat: no-repeat;
  animation: fadeEffect 1.5s ease-in-out;
}

@keyframes fadeEffect{
from{opacity: 0;}
to{opacity: 1;}
}
.banner-contenedor{
  justify-content: start;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 10px;
}
.banner h1{
    color:#ffffff;
    font-size: 70px;
    
    font-family: 'Poppins', sans-serif;
}
.contenedor-textos{
  flex-wrap: wrap;
    
    padding: 10px;
    padding-top: 50px;
}
.waves{
  display: flex;
  
}
.container-nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.hr1{
    align-items: center;
    background-color: #ffffff;
    width: 80%;
   
}

ul.ul-nav {
    margin: 2%;
    display: flex;
    list-style: none;
    flex-direction: row;
  
    width: 70%;
}
ul.ul-nav li{
    display: inline;
    font-size: 18px;
}
ul.ul-nav li+li:before {
    padding: 8px;
    color: black;
    content: ">>\00a0";
  }
  ul.ul-nav li a:hover {
    color: #9fcffffd;
    
  }
a{
    text-decoration: none;
    color: #ffffff;
}
.nav-item{

    margin: 10px;
}

.content-descrip{
    display: flex;
    height: 100vh;
    align-items: center;
    
    flex-direction: row;
    margin: 7%;
    
}
.image{
  margin: 50px;
}
.image img{
    height: 50vh;
    width: 50vh;
}
.text-descrip{
    width: 60%;
}
h3{
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.text-descrip h1{
    font-size: 70px;
    color: #ffffff;
    
}
.text-descrip i{
    color: green;
    margin-right: 15px;
}
.text-descrip p{
  text-align: justify;
    margin: 15px;
    
}
.estadis-container{
    overflow: hidden;
   margin: 9%;
   margin-right: 0;
    display: flex;
    height: 90vh;
}
.text-estadis{
    
   height: 500px;
    width: 50%;
    flex-direction: column;
}
.text-estadis .p-3{
text-align: justify;
}

.row{
    margin: 30px;
    display: flex;
    column-count: 1;
    column-gap: 2;
    flex-direction: row;
    
}
h2{
    color: #6EC1E4;
    font-size: 30px;
}
.text-estadis1{
    width: 30vh;
    margin: 10px;
}

.text-estadis2{
    width: 30vh;
    margin: 10px;
}
.image-estadis{
    height: 50vh;
    width: 500px;
    margin: 10px;
    
}
.el_titulo2{
  font-family: 'Poppins', sans-serif;
  color: #6EC1E4;
  padding-top: 50px;
  margin: 20px;
  font-size: 30px;
  text-align: center;
}
.image-background-2{
  background-image: url(/img/background\ para\ la\ seccion\ de\ ellos\ confian\ en\ nosotros.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
height: 100%;
  background-position: center;

  
}
.centrar2{
  
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 400px;
  width: auto;
  flex-direction:row;
  margin-top: 10px;
  padding-bottom: 250px;
  
  
}
.carrusel{
  /* box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); 
-webkit-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); */
  border-radius: 5px;
  
  margin:20px;
  height: 400px;
  margin: auto;
  position:relative;
  width: 100%;
  display: flex;
  align-items: center;
  
  display: flex;
  overflow:hidden;
  justify-content: center;
}

.carrusel-item{
  display: flex;
  width: calc(300px * 450);
  animation: scroll 40s linear infinite;
}
.carrusel-item:hover{
  animation-play-state: paused;
}
 @keyframes scroll{
  0%{
      transform: translateX(0);

  }
  100%{
      transform: translateX(calc(-150px * 7));
  }
} 

.carrusel-contenedor{
  margin-left: 30px;
  margin-right: 30px;
  height: 350px;
  width: 350px;
  display: flex;
 align-items: center;
  padding: 15px;
  perspective: 80px;
  text-align: justify;
}
.imagen-carrusel{
  height: 90px;
  width: 90px;
}
.img h2{
  font-size: 20px;
}
.img p{
  font-style: italic;
}
.img {
 display: flex;
 flex-direction: column;
 align-items: center;
  width: 100%;
  transition: transform 1s;
}
.img:hover{
  transform: translateZ(20px);
}
.carrusel::before,
.carrusel::after{
  background: linear-gradient(to right, rgba(255,255,255,1)0%,
  rgba(255,255,255,0)100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 2;

}
.carrusel::before{
  left: 0;
  top: 0;
}
.carrusel::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

hr{
  height: 1px;
  border: 5px;
  margin: 1px;
  margin: 0;
  background-color: rgba(197, 197, 197, 0.474);
  width: auto;
  
}

 /*  La clase ".site-footer"  contiene todo lo que se vera en el footer  */
 .site-footer
 {
  height: 305px;
   background-color:#0e447afd;
   padding:35px 0 20px;
   font-size:15px;
   line-height:24px;
   color:#737373;
 }
 .row{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   height: 170px;
   margin: 10px;
 }

 .footer-img{
   display: flex;
   height: 130px;
   width: 110px;
   margin: 6px;
   
   
 }
 
 .footer-img img{
   height: 100px;
 }
 .col-xs-6.col-md-3{
   display: flex;
   height: 64%;
   margin: 0px 10px 10px 10px;
   flex-direction: column;
   
 }
 .text-justify{
   height: auto;
   width: 600px;
   color: #fff;
   text-align: justify;
 }

 .site-footer h6
 {
   color:#fff;
   font-size:16px;
   text-transform:uppercase;
   margin-top:5px;
   letter-spacing:2px
 }
 .site-footer a
 {
   color:#c6c6c6;
 }
 .site-footer a:hover
 {
   color:#6EC1E4;
   text-decoration:none;
 }
 .footer-links
 {
   text-decoration: none;
   padding-left:0;
   list-style:none
 }
 .footer-links li
 {
   
   display:block
 }
 .footer-links a
 {
   text-decoration: none;
   color:#c6c6c6;
 }
 .footer-links a:active,.footer-links a:focus,.footer-links a:hover
 {
   color:#1577dafd;
   text-decoration:none;
 }
 .footer-links.inline li
 {
   display:inline-block
 }
 .site-footer .social-icons
 {
   text-align:center
 }
 .site-footer .social-icons a
 {
   width: 50px;
   height:50px;
   line-height:50px;
   margin-left:6px;
   margin-right:0;
   border-radius:100%;
   background-color:#082c50fd;
 }
 .copyright-text
 {
   font-size: 15px;
   color: #fff;
   height: auto;
   margin:5px;
   text-align: center;
   padding-bottom:20px;
  padding-top:20px;
 }
 
 .row2{
   margin-top: 5px;
   display: flex;
   justify-content: start;
 }
 
 .social-icons
 {
   padding-left:0;
   margin-bottom:0;
   list-style:none
 }
 .social-icons li
 {
   display:inline-block;
   margin-bottom:4px
 }
 .social-icons li.title
 {
   margin-right:15px;
   text-transform:uppercase;
   color:#96a2b2;
   font-weight:700;
   font-size:13px
 }
 .social-icons a{
   background-color:#eceeef;
   color:#ffffff;
   font-size:16px;
   display:inline-block;
   line-height:44px;
   width:44px;
   height:44px;
   text-align:center;
   margin-right:8px;
   border-radius:100%;
   -webkit-transition:all .2s linear;
   -o-transition:all .2s linear;
   transition:all .2s linear
 }
 .social-icons a:active,.social-icons a:focus,.social-icons a:hover
 {
   color:#fff;
   background-color:#29aafe
 }
 .social-icons.size-sm a
 {
   line-height:34px;
   height:34px;
   width:34px;
   font-size:14px
 }
 .social-icons a.instagram:hover
 {
   background-color:#aa255f
 }
 .social-icons a.youtube:hover
 {
   background-color:#c22424
 }
