@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/*Menu de navegacion responsive*/
nav a {
  text-decoration: none; }

nav ul, ol, li {
  list-style: none; }


.logo img{
    
  height: 80px;
  width: 100px;
  
}
nav.solid{
  background: #3fa8e0da;
  
}
nav {
box-sizing: border-box;
transition: all ease-in-out 1s;
background: #0e447a00;

padding: 10px 20px;
width: 100%;
height: 100px;
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10; }
nav .logo {
  width: 22%;
display: flex;
justify-content: right; }
nav ul {
  position: absolute;
  top: 100px;
  left: 0;
  background: #3fa8e0da;
  justify-content:center ;
  width: 100%;
  
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path .8s ease-out;
  z-index: 50; }
  nav ul .opciones {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 80; }
    nav ul .opciones li {
      
      
      
      height: 40px;
      align-items: center;
      margin: 40px 0; }
      nav ul .opciones li a {
        color: #ffffff;
        font-size: 19px;
        padding: 10px 30px;
        display: inline-block;
        position: relative;
        }
        nav ul .opciones li a:hover {
          color: #15577b; }

          nav ul .opciones li a::after{
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: #15577b;
              transform: scaleX(0);
              transform-origin:bottom right ;
              transition: transform 0.6s ease-out;
          }
          nav ul .opciones li a:hover::after{
            transform: scaleX(1);
            transform-origin: bottom left;
          }
nav .menu {
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 20;
  cursor: pointer; }
 nav .menu span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    display: block;
    position: absolute;
    background: #ffffff;
    transition: all 0.25s ease;
    transform-origin: 0px 100%; }
  nav .menu span:nth-child(2) {
    top: calc(50% - 2px); }
  nav .menu span:nth-child(3) {
    bottom: 0; }

.animacionMenu span:nth-child(1) {
transform: rotate(45deg) translate(-2px, 1px); }

.animacionMenu span:nth-child(2) {
opacity: 0; }

.animacionMenu span:nth-child(3) {
transform: rotate(-45deg) translate(-3px, 3px); }

.activeMenu {
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }



.image-background{
  background-image: url(/img/productos\ background.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: fadeEffect 0.5s ease-in-out;
}


@keyframes fadeEffect{
from{opacity: 0;}
to{opacity: 1;}
}
.banner{
    height: 765px;
    width: 100%;
    justify-content: end;
    display: flex;
    flex-direction: column;
}
.banner-contenedor{
  display: flex;
width: 98%;
height: 72%;
  justify-content: space-around;
    padding: 10px;
}
.image-icon-testimonio{
  width: 450px;
  border-radius:100%;
  border: 1px solid #fff;
  overflow: hidden;
}
.image-icon-testimonio img{
 width: 460px;
}

.banner h1{
  color:#3FA7E0;
  font-size: 70px;
  height: 100px;
  display: flex;
  width: 550px;
  justify-content: center;
  align-items: end;
  font-family: 'Poppins', sans-serif;
}
.contenedor-textos{
  padding-right: 10%;
    width: 40%;
    padding: 10px;
    display: flex;
    align-items: center;
}



.centrar1{
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.textos{
  margin: 10px;
  width: 40%;
}
.textos h4{
  font-size: 50px;
  color: #6EC1E4;
}
.textos p{
  text-align: justify;
}
.image img{
  width: 70vh;
  margin: 10px;
}
.card {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 20px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  &:hover {
    transition: all 0.2s ease-in;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #6EC1E4;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.10s ease-out;
  }

  &:hover:before {
    transform: scale(4.15);
  }
}
.card-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 40% 40%;
  margin: 3%;
  margin-top: 5%;
  padding-bottom:90px;
}
.card{
  justify-content: center;
  height: 25vh;
  width: 25vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card h4{
  font-size: larger;
  font-weight: 500;
}
.card p{
  text-align: center;
  font-size: 15px;
}
.card img{
  width: 10vh;
  height: 10vh;
  margin: 6px;
  border-radius: 5px;
}
.leer{
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  margin-top: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  border-radius: 5px;
  transition: background-color .3s;
}
.leer:hover {
    color: #6EC1E4;;
}
.el_titulo2{
  font-family: 'Poppins', sans-serif;
  color: #6EC1E4;
  padding-top: 200px;
  margin: 20px;
  font-size: 30px;
  text-align: center;
}
.image-background-2{
  background-image: url(/img/background\ para\ la\ seccion\ de\ ellos\ confian\ en\ nosotros.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
height: 100%;
  background-position: center;

  
}
.centrar2{
  
  border-radius: 6px;
  display: flex;
  justify-content: center;
  min-height: 300px;
  min-width: 600px;
  flex-direction:row;
  margin-top: 10px;
  padding-bottom: 250px;
  
}
.carrusel{
  /* box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); 
-webkit-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); */
  border-radius: 5px;
  margin:20px;
  height: 300px;
  margin: auto;
  position:relative;
  width: 100%;
  display: flex;
  align-items: center;
  display: flex;
  overflow: hidden;
  
  justify-content: center;
}

.carrusel-item{
  display: flex;
  width: calc(250px * 18);
  
}
.carrusel-item:hover{
  animation-play-state: paused;
}
@keyframes scroll{
  0%{
      transform: translateX(0);

  }
  100%{
      transform: translateX(calc(-250px * 9));
  }
}
.carrusel-contenedor{
  margin:10px;
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.carrusel-contenedor img{
  border-radius: 10px;
  width: 100%;
  transition: transform 1s;
}

.carrusel-contenedor img:hover{
  transform: translateZ(20px);
}
.carrusel::before,
.carrusel::after{
  background: linear-gradient(to right, rgba(255,255,255,1)0%,
  rgba(255,255,255,0)100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;

}
.carrusel::before{
  left: 0;
  top: 0;
}
.carrusel::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.background-footer{
  background-image: url(/img/background\ image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: auto;
}
.background-capa{
  content:'';
	position:relative;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(69, 68, 68, 0.568);
background: linear-gradient(0deg, rgba(6, 6, 6, 0.756) 0%, rgba(42, 42, 42, 0.688) 35%, rgba(139, 139, 139, 0.452) 100%);
 
}


.centrar3{
  padding-top: 20px;
  flex-direction: column;
  background-image: url(/img/banner\ testimonios.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
 min-height: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  
  border-radius: 8px;
}
 .centrar3::before{
  content: '';
    position: absolute;
    inset: 0;
  background-color: #00000023;
} 
.centrar3 p2{
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  margin: 10px;
  font-size: 20px;
  text-align: center;
}
h2{
  position: relative;
}
.centrar3 h2::after{
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.16);
border-radius: 15px;
}
.formulario h3{
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.leer2{
  
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color .3s;
}
.leer2::after{
  content: '';
  position: absolute;
  inset: 0;
background-color: #ffffff23;
}
.leer2:hover{
    background-color: #ffffff;
    color:#000000;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 90; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow:none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#myBtn{
  background: none;
  border: none;
  overflow: none;
}
/* Modal Content/Box */
.modal-content {
  background-color: #3fa8e0;
  animation: fadeEffect 1s;
  margin:1%; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  height:auto;
  width: 20% 20%; /* Could be more or less, depending on screen size */
}
@keyframes fadeEffect{
  from{opacity: 0;}
  to{opacity: 1;}
}

/* The Close Button */
.close {
  color: #ffffff;
  float: right;
  font-size: 38px;
  font-weight: bold;
  animation: fade ease-out  1s;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}


h2{
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}
/* Columna flotante para etiquetas: 25% de ancho */
.formulario-correo {
  font-size:17px;
  margin: 10px;
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Columna flotante para entradas: 75% de ancho */
/*.form {
  float: left;
  width: 75%;
  margin-top: 6px;
}*/

/* Borrar flotadores después de las columnas */
.fila:after {
  content: "";
  display: table;
  clear: both;
}
.modal-content::placeholder{
  color: rgba(16, 16, 16, 0.454);
}

.modal-content label{
  
  font-family: 'Poppins', sans-serif;
  
  color: #ffffff;;
}
.modal-content input[type=text] {
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 15px;
  background-color: #ffffff;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 resize: none;
}
.modal-content select, .modal-content textarea{
  background-color: white;
}
/* Aplicar estilo a la etiqueta para que se muestre junto a las entradas */

/* Aplicar estilo al botón de envío */
input[type=submit] {
  background-color: #0e447afd;
  color:#ffffff;
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: center;
  
}

input[type=text], select, textarea{
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 15px;
  background-color: #ffffffc4;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize:none;
}

/* Diseño responsive cuando la pantalla tiene menos de 600px de ancho, haga que las dos columnas se apilan una encima de la otra en lugar de una al lado de la otra */
@media screen and (max-width: 500px) {
  .formulario-correo, .form, input[type=submit] {
    width: 100%;
    
    margin-top: 0;
  }
}
/*  La clase ".site-footer"  contiene todo lo que se vera en el footer  */
.site-footer
{
  
 height: 302px;
  background-color:rgba(28, 28, 28, 0);
  padding:35px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.row{
  padding: 15px;
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}
.footer-img{
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 110px;
  margin: 5px;
}

.col-xs-6.col-md-3{
  display: flex;
  height: 64%;
  flex-direction: column;
  margin: 0px 10px 10px 10px;
}
.text-justify{
  height: auto;
  width: 600px;
  color: #fff;

}

hr{
  height: 1px;
  border: 5px;
  margin: 1px;
  margin: 0;
  background-color: rgba(197, 197, 197, 0.474);
  width: auto;
  
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  text-decoration: none;
  padding-left:0;
  list-style:none
}
.footer-links li
{
  
  display:block
}
.footer-links a
{
  text-decoration: none;
  color:#c6c6c6;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:center
}
.site-footer .social-icons a
{
  width: 50px;
  height:50px;
  line-height:50px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#0e447afd;
}
.copyright-text
{
  display: flex;
  justify-content: center;
  height: auto;
  margin:5px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row2{
  margin-top: 5px;
  display: flex;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#ffffff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.instagram:hover
{
  background-color:#aa255f
}
.social-icons a.youtube:hover
{
  background-color:#c22424
}
