@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
 
}


.contenedor-de-contenido1{
  
   
    display: flex;
    width: 25% 25%;
    height: 200px;
    align-items: center;
    
  }
  .fila1{
    overflow: hidden;
    flex-wrap: wrap;
    margin: 10px;
    width:90%;
    background: #d7d7d700;
    height: 100px;
    display: flex;
    justify-content: space-around;
    
    
  }
  .item{
    display: flex;
    background: #afafaf00;
    height: 120px;
    width: 100px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    justify-content: space-evenly;
    align-items: center;
    /* box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); */
  }
  .icon{
    color: #0c5879
  }
  h4{
    font-size: 13px;
    

  }
  p{
  
  font-size: 16px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
    
  
   
  }
  
  .img-modal{
    width: 100%;
    border-radius: 10px;
  }
  .hr-1{
    margin-left: 10%;
    margin-right: 10%;
    
  }
  .img-modal{
    width: 100%;
    border-radius: 10px;
  }
  
  #modal, #modal2, #modal3, #modal4{
    position:fixed;
    top:0px;
    left:0px;
    z-index:5;
  overflow: scroll;
    float:left;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
    display:none;
    opacity:0;
  }
  #modal > a{
    position:fixed;
    text-decoration: none;
    list-style: none;
    top:0px;
    left:0px;
    z-index:1;
    float:left;
    width:100%;
    height:100%;
  }
  
  
  :target{
    display:block!important;
    opacity:1!important;
  }
  
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 90; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow:scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  #myBtn{
    background: none;
    border: none;
    overflow: none;
  }
  
  /* Modal Content/Box */
  #modal-content {
    background-color: #3fa8e0;
    margin:5%; /* 15% from the top and centered */
    padding: 20px;
    position:relative;
    border-radius: 10px;
    animation: fadeEffect 1s;
    height: 100%;
    width: 100%; /* Could be more or less, depending on screen size */
  }
  @keyframes fadeEffect{
    from{opacity: 0;}
    to{opacity: 1;}
  }
  
  /* The Close Button */
  .close a {
    color: #ffffff;
    float: right;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
  
  }
  
  .close a:hover,
  .close a:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }

  hr{
    
    height: 2px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #6EC1E4;;
}
.hr-1{
  margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  height: 1px;
}
  .contenido{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
  }
  .contenido-izquierda{
    margin: 20px;
    display:flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
  }
  .contenido-derecha{
    margin: 20px;
    display:flex;
    flex-direction: row-reverse;
    width: 80%;
    align-items: center;
  }
  .img-izquierda{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.306);
  -webkit-box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.183);
  -moz-box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.183); 
  }
  .img-derecha{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.306);
  -webkit-box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.183);
  -moz-box-shadow: 0px 12px 14px 0px rgba(0, 0, 0, 0.183); 
  }
  h1{
    margin: 0;
    text-align: center;
    color: #6EC1E4;
  }
.contenido-izquierda p{
  margin: 3%;
  text-align:left;
}
.contenido-derecha p{
  margin: 3%;
  text-align: right;
}
.banner{
  background-image: url(/img/background.jpg);
  background-attachment: scroll;
  background-size: cover;
  height: 300px;
  display: flex;
  margin: 10%;
  border-radius: 10px;
}
.banner p{
  align-items: center;
  width: 60%;
}
.banner img{
  height: 90%;
  align-items: center;
}
