@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@media screen and (min-width: 920px) {
  nav ul {
    background-color: #ffffff00;
    width: 100%;
    position: initial;
    clip-path: none; }
    nav ul .opciones {
      height: 90px;
      justify-content: center;
      flex-direction: row;
      justify-content: flex-end; }
      nav ul .opciones li {
        display: flex;
        align-items: center;
        
        margin: 0 10px;
        width: auto; }
        nav ul .opciones li a {
          font-size: 16px;
          margin: 0;
          padding: 2px 10px; }
  nav .menu {
    display: none; } }
@media screen and (min-width: 921px) {
  nav {
    height: 100px; }

    nav ul .opciones li {
      display: flex;
      align-items: center;
      justify-content: space-between;
       }
      nav ul .opciones li a {
        font-size: 18px;
        padding: 2px 10px; }
        nav .menu {
      display: none; } }

 /* Movil pequeño */
 @media (min-width: 360px) and (max-width:460px){
  nav ul .opciones {
    width: 100%;
  }
  nav ul {
    
    background: #ffffffda;
  }
/*En el banner, se encuentra la imagen de fondo, el texto y una imagen*/
.banner{
  background-image: url(/img/joven-pareja-feliz-haciendo-acuerdo-su-asesor-financiero-casa-hombres-dan-mano.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 650px;
  width: 100%;
  height: 500px;
  justify-content: center;
  justify-content: end;
  display: flex;
  flex-direction: column;
}

.banner-contenedor{
display: flex;
  padding: 10px;
}
.banner h1{
    color:rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
.contenedor-textos{
    text-align:left;
    width: 100%;
   font-size: 14px;
    
}

.waves{
    display: flex;
    height: 146px;
}

ul.ul-nav {
  padding-top: 45px;
  margin: 2%;
  display: flex;
  list-style: none;
  flex-direction: row;
justify-content: center;
  width: 100%;
}

ul.ul-nav li{
display: inline;
font-size: 13px;
}
ul.ul-nav li+li:before {
padding: 3px;
color: black;
content: ">>\00a0";
}
.nav-item{

margin: 10px;
}

.content-descrip{
display: flex;
height: 1100px;
align-items: center;

flex-direction: column;
margin: 5%;

}
.image{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3{
  font-size: 30px;
}
.image img{
height: 25vh;
width: 25vh;
}
.text-descrip{
height: 350px;
width: 100%;
}
.text-descrip p{

font-size: 15px;
}
.text-descrip h1{
font-size: 25px;
color: #ffffff;

}
.text-descrip i{
color: green;
margin-right: 15px;
}
.text-descrip p{
margin: 4px;
}
.estadis-container{
align-items: center;
margin: 4%;
margin-right: 0;
display: flex;
height: auto;
flex-direction: column;
}

.text-estadis{

height: 400px;
width: 90%;
flex-direction: column;
}
.text-estadis p{

font-size: 15px;
}
.text-estadis .p-3 {
  text-align: justify;
}
.row0 p{
  width: 50%;
}
.row{
margin: 10px;
display: flex;
column-count: 1;
column-gap: 2;
flex-direction: row;

}
h2{
color: #6EC1E4;
font-size: 25px;
}
.text-estadis1{
width:auto;
margin: 10px;
}

.text-estadis2{
width: 70vh;
margin: 10px;
}
.image-estadis{
height: 50vh;
width: 50vh; 
}
.image-estadis img{
height: 300px;
width: 100%;
}
.el_titulo2{
font-family: 'Poppins', sans-serif;
color: #6EC1E4;
padding-top: 50px;
margin: 20px;
font-size: 30px;
text-align: center;
}
.centrar2{

border-radius: 6px;
display: flex;
justify-content: center;
flex-direction:row;
width: auto;
margin-top: 10px;
padding-bottom: 200px;

}
.carrusel{
/* box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); 
-webkit-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); */
border-radius: 5px;

margin:20px;
height: 350px;
margin: auto;
position:relative;
width: auto;
display: flex;
align-items: center;

display: flex;
overflow:hidden;
justify-content: center;
}

.carrusel-item{
display: flex;
width: calc(300px * 450);
animation: scroll 50s linear infinite;
}
.carrusel-item:hover{
animation-play-state: paused;
}
@keyframes scroll{
0%{
  transform: translateX(0);

}
100%{
  transform: translateX(calc(-150px * 7));
}
} 

.carrusel-contenedor{
margin-left: 30px;
margin-right: 30px;
height: 350px;
width: 350px;
display: flex;
align-items: center;
padding: 15px;
perspective: 80px;
text-align: justify;
}
.imagen-carrusel{
height: 90px;
width: 90px;
}
.img h2{
font-size: 20px;
}
.img p{
font-style: italic;
font-size: 13px;
}
.img {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
transition: transform 1s;
}
.img:hover{
transform: translateZ(10px);
}
.carrusel::before,
.carrusel::after{
background: linear-gradient(to right, rgba(255,255,255,1)0%,
rgba(255,255,255,0)100%);
content: '';
height: 100%;
position: absolute;
width: 10%;
z-index: 2;

}
.carrusel::before{
left: 0;
top: 0;
}
.carrusel::after{
right: 0;
top: 0;
transform: rotateZ(180deg);
}


.el_titulo{
  font-family: 'Poppins', sans-serif;
  color: #6EC1E4;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}


/*  La clase "site-footer"  contiene todo lo que se vera de ultimo en la pagina  */

.site-footer
{
height: 705px;
background-color:#0e447afd;
padding:35px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.row{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
height: 570px;
margin: 10px;
}
.row2{
margin:9px;
justify-content: center;
}
.footer-img{
display: flex;
flex-direction: column;
height: 90px;
width: 110px;
margin: 6px;
}


.col-xs-6.col-md-3{

margin-top:6px ;
width: 40vh;
height: auto;
display: flex;
margin: 0px 10px 10px 10px;
}
.text-justify{
margin: 8px;
height: auto;
width: auto;
color: #fff;
text-align: justify;
}

.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#6EC1E4;
text-decoration:none;
}
.footer-links
{
text-decoration: none;
padding-left:0;
list-style:none
}
.footer-links li
{

display:block
}
.footer-links a
{
text-decoration: none;
color:#c6c6c6;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#1577dafd;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:center
}
.site-footer .social-icons a
{
width: 50px;
height:50px;
line-height:50px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#082c50fd;
}
.copyright-text
{

font-size: 14px;
color: #fff;
height: auto;
margin:5px
}
.copyright-text p{

text-align: center;
}
.row2{
margin-top: 15px;
display: flex;
}

.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#ffffff;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.instagram:hover
{
background-color:#aa255f
}
.social-icons a.youtube:hover
{
background-color:#c22424
}



}

@media (min-width:460px) and (max-width:720px){
  nav ul .opciones {
    width: 100%;
  }
  nav ul {
    
    background: #ffffffda;
  }
/*En el banner, se encuentra la imagen de fondo, el texto y una imagen*/
.banner{
background-image: url(/img/joven-pareja-feliz-haciendo-acuerdo-su-asesor-financiero-casa-hombres-dan-mano.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: scroll;
height: 650px;
justify-content: center;
justify-content: end;
display: flex;
flex-direction: column;
}

.banner-contenedor{
display: flex;
padding: 10px;
}
.banner h1{
  color:rgb(255, 255, 255);
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
}
.contenedor-textos{
  text-align:left;
  width: 100%;
 font-size: 14px;
  
}

.waves{
  display: flex;
  height: 156px;
}

ul.ul-nav {
margin: 2%;
display: flex;
list-style: none;
flex-direction: row;
justify-content: center;
width: 100%;
}

ul.ul-nav li{
display: inline;
font-size: 13px;
}
ul.ul-nav li+li:before {
padding: 3px;
color: black;
content: ">>\00a0";
}
.nav-item{

margin: 10px;
}

.content-descrip{
display: flex;
height: 1200px;

align-items: center;
justify-content: start;

flex-direction: column;
margin: 5%;

}
h3{
  font-size: 30px;
}
.image{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image img{
height: 25vh;
width: 25vh;
}
.text-descrip{
height: 350px;
width: 100%;
}
.text-descrip p{

font-size: 17px;
}
.text-descrip h1{
font-size: 30px;
color: #ffffff;

}
.text-descrip i{
color: green;
margin-right: 15px;
}
.text-descrip p{
margin: 4px;
}
.estadis-container{
align-items: center;
margin: 3%;
margin-right: 0;
display: flex;
overflow: hidden;
height: 750px;
width: 90%;
flex-direction: column;
}
.text-estadis{

height: 750px;
width: 90%;
margin: 10px;
flex-direction: column;
}
.text-estadis p{


font-size: 13px;
}
.row0{
  height: 200px;
  margin: 10px;
  display: flex;
  column-count: 1;
  column-gap: 2;
  flex-direction: row;
  
  }
h2{
color: #6EC1E4;
font-size: 30px;
}
.text-estadis1{
width: 70vh;
margin: 10px;
}
.text-estadis1 p{
  width: auto;
}
.text-estadis .p-3{
  font-size: 17px;
  text-align: justify;
}
.text-estadis2{
width: 70vh;
margin: 10px;
}
.image-estadis{
height: 50vh;
width: 50vh; 
}
.image-estadis img{
height: 300px;
width: 100%;
}
.el_titulo2{
font-family: 'Poppins', sans-serif;
color: #6EC1E4;
padding-top: 50px;
margin: 20px;
font-size: 23px;
text-align: center;
}
.centrar2{

border-radius: 6px;
display: flex;
justify-content: center;
flex-direction:row;
margin-top: 10px;
width:auto;

padding-bottom: 100px;

}
.carrusel{
/* box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); 
-webkit-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); */
border-radius: 5px;
margin:20px;
height: 300px;
margin: auto;
position:relative;
width: 100%;
display: flex;
align-items: center;
display: flex;
overflow:hidden;
justify-content: center;
}

.carrusel-item{
display: flex;
width: calc(300px * 450);
animation: scroll 50s linear infinite;
}
.carrusel-item:hover{
animation-play-state: paused;
}
@keyframes scroll{
0%{
transform: translateX(0);

}
100%{
transform: translateX(calc(-150px * 7));
}
} 

.carrusel-contenedor{
margin-left: 30px;
margin-right: 30px;
height: 350px;
width: 350px;
display: flex;
align-items: center;
padding: 15px;
perspective: 80px;
text-align: justify;
}
.imagen-carrusel{
height: 90px;
width: 90px;
}
.img h2{
font-size: 20px;
}
.img p{
font-style: italic;
font-size: 15px;
}
.img {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
transition: transform 1s;
}
.img:hover{
transform: translateZ(20px);
}
.carrusel::before,
.carrusel::after{
background: linear-gradient(to right, rgba(255,255,255,1)0%,
rgba(255,255,255,0)100%);
content: '';
height: 100%;
position: absolute;
width: 10%;
z-index: 2;

}
.carrusel::before{
left: 0;
top: 0;
}
.carrusel::after{
right: 0;
top: 0;
transform: rotateZ(180deg);
}


.el_titulo{
font-family: 'Poppins', sans-serif;
color: #6EC1E4;
font-size: 20px;
text-align: center;
margin-top: 20px;
}
/*  La clase "site-footer"  contiene todo lo que se vera de ultimo en la pagina  */

.site-footer
{
  height: 666px;
background-color:#0e447afd;
padding:35px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.row{
  height: 540px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
margin: 10px;
}
.row2{
margin:9px;
justify-content: center;
}
.footer-img{
display: flex;
flex-direction: column;
height: 90px;
width: 110px;
margin: 6px;
}

.col-sm-12.col-md-6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
.col-xs-6.col-md-3{

margin-top:6px ;
width: 40vh;
height: auto;
display: flex;
margin: 0px 10px 10px 10px;
}
.text-justify{
margin: 8px;
height: auto;
width: 400px;
color: #fff;
text-align: justify;
}

.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
text-decoration: none;
padding-left:0;
list-style:none
}
.footer-links li
{

display:block
}
.footer-links a
{
text-decoration: none;
color:#c6c6c6;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:center
}
.site-footer .social-icons a
{
width: 50px;
height:50px;
line-height:50px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#082c50fd;
}
.copyright-text
{

font-size: 14px;
color: #fff;
height: auto;
margin:5px
}
.copyright-text p{

text-align: center;
}
.row2{
margin-top: 15px;
display: flex;
}

.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#ffffff;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.instagram:hover
{
background-color:#aa255f
}
.social-icons a.youtube:hover
{
background-color:#c22424
}

}

@media (min-width:720px) and (max-width:920px){
  nav ul .opciones {
    width: 100%;
  }
 
  nav ul {
    
    background: #ffffffda;
  }

/*En el banner, se encuentra la imagen de fondo, el texto y una imagen*/
.banner{
background-image: url(/img/joven-pareja-feliz-haciendo-acuerdo-su-asesor-financiero-casa-hombres-dan-mano.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: scroll;
height: 650px;
justify-content: center;
justify-content: end;
display: flex;
flex-direction: column;
}

.banner-contenedor{
display: flex;
padding: 10px;
}
.banner h1{
  color:rgb(255, 255, 255);
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
}
.contenedor-textos{
  text-align:left;
  width: 100%;
 font-size: 14px;
  
}

.waves{
  display: flex;
  height: 156px;
}

ul.ul-nav {
margin: 2%;
display: flex;
list-style: none;
flex-direction: row;
justify-content: center;
width: 100%;
}

ul.ul-nav li{
display: inline;
font-size: 13px;
}
ul.ul-nav li+li:before {
padding: 3px;
color: black;
content: ">>\00a0";
}
.nav-item{

margin: 10px;
}
h3{
  color: #fff;
  font-size: 40px;
  text-align: center;
}
.content-descrip{
display: flex;
height: 1000px;
align-items: start;

flex-direction: row;
margin: 5%;

}

.image img{
height: 30vh;
width: 30vh;
}
.text-descrip{
height: 350px;
width: 50%;
}
.text-descrip p{
height: auto;
font-size: 18px;
}
.text-descrip h1{
font-size: 30px;
color: #ffffff;

}
.text-descrip i{
color: green;
margin-right: 15px;
}
.text-descrip p{
margin: 4px;
}
.estadis-container{
align-items: center;
margin: 3%;
display: flex;
overflow: hidden;
height: auto;
width: 90%;
flex-direction: column;
}
.text-estadis{
height: 300px;
width: 90%;
flex-direction: column;
}
.text-estadis p{
height: 70px;
text-align: justify;
font-size: 17px;
}
.row0{
margin: 10px;
height: 200px;
display: flex;
column-count: 1;
column-gap: 2;
flex-direction: row;

}
h2{
color: #6EC1E4;
font-size: 30px;
}
.text-estadis1{
width: 70vh;
margin: 10px;
}

.text-estadis2{
width: 70vh;
margin: 10px;
}
.image-estadis{
height: 50vh;
width: 50vh; 
}
.image-estadis img{
height: 300px;
width: 580px;
}
.el_titulo2{
font-family: 'Poppins', sans-serif;
color: #6EC1E4;
padding-top: 50px;
margin: 20px;
font-size: 25px;
text-align: center;
}
.centrar2{

border-radius: 6px;
display: flex;
justify-content: center;
flex-direction:row;
margin-top: 10px;
width: auto;
padding-bottom: 100px;

}
.carrusel{
/* box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); 
-webkit-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62);
-moz-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); */
border-radius: 5px;

margin:20px;
height: 300px;
margin: auto;
position:relative;
width: 100%;
display: flex;
align-items: center;

display: flex;
overflow:hidden;
justify-content: center;
}

.carrusel-item{
display: flex;
width: calc(300px * 450);
animation: scroll 40s linear infinite;
}
.carrusel-item:hover{
animation-play-state: paused;
}
@keyframes scroll{
0%{
transform: translateX(0);

}
100%{
transform: translateX(calc(-150px * 7));
}
} 

.carrusel-contenedor{
margin-left: 30px;
margin-right: 30px;
height: 350px;
width: 350px;
display: flex;
align-items: center;
padding: 15px;
perspective: 80px;
text-align: justify;
}
.imagen-carrusel{
height: 90px;
width: 90px;
}
.img h2{
font-size: 20px;
}
.img p{
font-style: italic;
}
.img {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
transition: transform 1s;
}
.img:hover{
transform: translateZ(20px);
}
.carrusel::before,
.carrusel::after{
background: linear-gradient(to right, rgba(255,255,255,1)0%,
rgba(255,255,255,0)100%);
content: '';
height: 100%;
position: absolute;
width: 10%;
z-index: 2;

}
.carrusel::before{
left: 0;
top: 0;
}
.carrusel::after{
right: 0;
top: 0;
transform: rotateZ(180deg);
}


.el_titulo{
font-family: 'Poppins', sans-serif;
color: #6EC1E4;
font-size: 20px;
text-align: center;
margin-top: 20px;
}

 /*  La clase "site-footer"  contiene todo lo que se vera de ultimo en la pagina  */
  
 .site-footer
 {
  height: 590px;
   background-color:#0e447afd;
   padding:35px 0 20px;
   font-size:15px;
   line-height:24px;
   color:#737373;
 }
 .row{
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-around;
   height: 445px;
   margin: 10px;
 }
 .row2{
   justify-content: center;
   margin: 10px;
 }
 .footer-img{ 
   align-items: start;
   height: 110px;
   width: 100px;
 }
 
 
 .col-xs-6.col-md-3{
   
   display: flex;
   align-items: start;
   width: 30vh;
   height: auto;
   flex-direction: column;
   margin: 0px 10px 10px 10px;
 }
 .text-justify{
   height: auto;
   width: 650px;
   color: #fff;
   text-align: justify;
 }

 .site-footer h6
 {
   color:#fff;
   font-size:16px;
   text-transform:uppercase;
   margin-top:5px;
   letter-spacing:2px
 }
 .site-footer a
 {
   color:#737373;
 }
 .site-footer a:hover
 {
   color:#3366cc;
   text-decoration:none;
 }
 .footer-links
 {
   text-decoration: none;
   padding-left:0;
   list-style:none
 }
 .footer-links li
 {
   
   display:block
 }
 .footer-links a
 {
   text-decoration: none;
   color:#c6c6c6;
 }
 .footer-links a:active,.footer-links a:focus,.footer-links a:hover
 {
   color:#3366cc;
   text-decoration:none;
 }
 .footer-links.inline li
 {
   display:inline-block
 }
 .site-footer .social-icons
 {
   text-align:center
 }
 .site-footer .social-icons a
 {
   width: 50px;
   height:50px;
   line-height:50px;
   margin-left:6px;
   margin-right:0;
   border-radius:100%;
   background-color:#082c50fd;
 }
 .copyright-text
 {
   font-size: 14px;
   color: #fff;
   height: auto;
   margin:5px
 }
 
 .row2{
   margin-top: 15px;
   display: flex;
 }
 
 .social-icons
 {
   padding-left:0;
   margin-bottom:0;
   list-style:none
 }
 .social-icons li
 {
   display:inline-block;
   margin-bottom:4px
 }
 .social-icons li.title
 {
   margin-right:15px;
   text-transform:uppercase;
   color:#96a2b2;
   font-weight:700;
   font-size:13px
 }
 .social-icons a{
   background-color:#eceeef;
   color:#ffffff;
   font-size:16px;
   display:inline-block;
   line-height:44px;
   width:44px;
   height:44px;
   text-align:center;
   margin-right:8px;
   border-radius:100%;
   -webkit-transition:all .2s linear;
   -o-transition:all .2s linear;
   transition:all .2s linear
 }
 .social-icons a:active,.social-icons a:focus,.social-icons a:hover
 {
   color:#fff;
   background-color:#29aafe
 }
 .social-icons.size-sm a
 {
   line-height:34px;
   height:34px;
   width:34px;
   font-size:14px
 }
 .social-icons a.instagram:hover
 {
   background-color:#aa255f
 }
 .social-icons a.youtube:hover
 {
   background-color:#c22424
 }
}
@media (min-width:920px) and (max-width:1100px) {
  
  /*En el banner, se encuentra la imagen de fondo, el texto y una imagen*/
.banner{
  background-image: url(/img/joven-pareja-feliz-haciendo-acuerdo-su-asesor-financiero-casa-hombres-dan-mano.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 650px;
  justify-content: center;
  justify-content: end;
  display: flex;
  flex-direction: column;
  }
  
  .banner-contenedor{
  display: flex;
  padding: 10px;
  }
 
  .contenedor-textos{
    text-align:left;
    width: 100%;
   font-size: 14px;
    
  }
  
  .waves{
    display: flex;
    height: 156px;
  }
  
  ul.ul-nav {
  margin: 2%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: start;
  margin-left: 90px;
  width: 90%;
  }
  
  ul.ul-nav li{
  display: inline;
  font-size: 15px;

  }
  ul.ul-nav li+li:before {
  padding: 3px;
  color: black;
  content: ">>\00a0";
  }
  .nav-item{
  
  margin: 10px;
  }
  
  .content-descrip{
  display: flex;
  height:900px;
  align-items: start;
  
  flex-direction: row;
  margin: 4%;
  margin-bottom: 20%;
  
  }
  
  .image img{
  height: 35vh;
  width: 35vh;
  }
  .text-descrip{
  height: 350px;
  width: 50%;
  }
  .text-descrip p{
  
  font-size: 19px;
  }
  .text-descrip h1{
  font-size: 40px;
 
  
  }
  .text-descrip i{
  color: green;
  margin-right: 15px;
  }
  
  .estadis-container{
  align-items: center;
  margin: 3%;
  display: flex;
  height: 700px;
  overflow: hidden;
  width: 95%;
  flex-direction: row;
  }
  .text-estadis{
  height: 400px;
  width: 90%;
  flex-direction: column;
  }
  .text-estadis p{
  height: 100px;
  text-align: justify;
  font-size: 19px;
  }
  .row0{
  margin: 10px;
  height: 200px;
  display: flex;
  column-count: 1;
  column-gap: 2;
  flex-direction: row;
  
  }
  h2{
  color: #6EC1E4;
  font-size: 40px;
  }
  .text-estadis1{
  width: 29vh;
  margin: 10px;
  }
  
  .text-estadis2{
  width: 40vh;
  margin: 10px;
  }
  .image-estadis{
  height: 50vh;
  overflow: hidden;
  width: 90vh; 
  }
  .image-estadis img{
  height: 400px;
  width: 750px;
  }
  .el_titulo2{
  font-family: 'Poppins', sans-serif;
  color: #6EC1E4;
  padding-top: 50px;
  margin: 20px;
  font-size: 26px;
  text-align: center;
  }
  .centrar2{
  
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction:row;
  margin-top: 10px;
  padding-bottom: 100px;
  
  }
  .carrusel{
  /* box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); 
  -webkit-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62);
  -moz-box-shadow: 0px 12px 14px 0px rgba(0,0,0,0.62); */
  border-radius: 5px;
  
  margin:20px;
  height: 300px;
  margin: auto;
  position:relative;
  width: 100%;
  display: flex;
  align-items: center;

  display: flex;
  overflow:hidden;
  justify-content: center;
  }
  
  .carrusel-item{
  display: flex;
  width: calc(300px * 450);
  animation: scroll 40s linear infinite;
  }
  .carrusel-item:hover{
  animation-play-state: paused;
  }
  @keyframes scroll{
  0%{
  transform: translateX(0);
  
  }
  100%{
  transform: translateX(calc(-150px * 7));
  }
  } 
  
  .carrusel-contenedor{
  margin-left: 30px;
  margin-right: 30px;
  height: 350px;
  width: 350px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 80px;
  text-align: justify;
  }
  .imagen-carrusel{
  height: 90px;
  width: 90px;
  }
  .img h2{
  font-size: 20px;
  }
  .img p{
  font-style: italic;
  }
  .img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: transform 1s;
  }
  .img:hover{
  transform: translateZ(20px);
  }
  .carrusel::before,
  .carrusel::after{
  background: linear-gradient(to right, rgba(255, 255, 255, 0.595)0%,
  rgba(255,255,255,0)100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 10%;
  z-index: 2;
  
  }
  .carrusel::before{
  left: 0;
  top: 0;
  }
  .carrusel::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
  }
  
  
  .el_titulo{
  font-family: 'Poppins', sans-serif;
  color: #6EC1E4;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  }
  hr{
    height: 1px;
    border: 5px;
    margin: 1px;
    margin: 0;
    background-color: rgba(197, 197, 197, 0.474);
    width: auto;
    
  }
  /*  La clase "site-footer"  contiene todo lo que se vera de ultimo en la pagina  */

.site-footer
{
  height: 350px;
background-color:#0e447afd;
padding:35px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.row{
display: flex;
align-items: center;
flex-direction: row;
justify-content: space-evenly;
height: 220px;
margin: 10px;
}
.row2{
justify-content: start;
margin: 10px;
}
.footer-img{ 
align-items: start;
height: 130px;
width: 100px;
}
.footer-img img{
  width: 110px;
}
.col-sm-12.col-md-6{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: start;
  width: 300px;
  }
.col-xs-6.col-md-3{
  height: 150px;
  
  margin-left: 15px;
   display: flex;
   flex-direction: column;
   margin: 0px 10px 10px 10px;
}
.text-justify{
height: auto;
width: 250px;
color: #fff;
text-align: justify;
}


.site-footer h6
{
color:#fff;
font-size:15px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#c6c6c6;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
text-decoration: none;
padding-left:0;
list-style:none
}
.footer-links li
{

display:block
}
.footer-links a
{
text-decoration: none;
color:#c6c6c6;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#1577dafd;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:center
}
.site-footer .social-icons a
{
width: 50px;
height:50px;
line-height:50px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#082c50fd;
}
.copyright-text
{
font-size: 16px;
color: #fff;
height: auto;

margin:5px
}

.row2{
margin-top: 5px;
display: flex;
}

.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color: #fff;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.instagram:hover
{
background-color:#aa255f
}
.social-icons a.youtube:hover
{
  background-color:#c22424
}
}
