@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


@media screen and (min-width: 920px) {
  nav ul {
    background-color: #ffffff00;
    width: 100%;
    position: initial;
    clip-path: none; }
    nav ul .opciones {
      height: 90px;
      justify-content: center;
      flex-direction: row;
      justify-content: flex-end; }
      nav ul .opciones li {
        display: flex;
        align-items: center;
        
        margin: 0 10px;
        width: auto; }
        nav ul .opciones li a {
          font-size: 16px;
          margin: 0;
          padding: 2px 10px; }
  nav .menu {
    display: none; } }
@media screen and (min-width: 921px) {
  nav {
    height: 100px; }

    nav ul .opciones li {
      display: flex;
      align-items: center;
      justify-content: space-between;
       }
      nav ul .opciones li a {
        font-size: 18px;
        padding: 2px 10px; }
        nav .menu {
      display: none; } }
 
/* Movil pequeño */
@media (min-width: 360px) and (max-width:460px){
  nav ul .opciones {
    width: 100%;
  }
  /*En el banner, se encuentra la imagen de fondo, el texto y una imagen*/
  .banner{
      height: 650px;
     
  }
  .image-background{
    background-image: url(/img/Producto\ background\ 370px.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeEffect 0.5s ease-in-out;
  }
  
@keyframes fadeEffect{
from{opacity: 0;}
to{opacity: 1;}
}
  .banner-contenedor{
    display: flex;
    width: 85%;
    flex-direction: row;
    height: 86%;
    align-items: center;
       justify-content: space-between;
       padding: 0;
  }
  span{
    height: 100px;
    width: 100px;
  }
  .image-icon-contacto{
    width: 150px;
  
    overflow: hidden;
  }
  .image-icon-contacto img{
    
    width: 150px;
    
  }
  .banner h1{
    color:#3FA7E0;
    font-size: 30px;
    height: 140px;
    display: flex;
    width: 350px;
    padding-left: 50px;
    justify-content: start;
      font-family: 'Poppins', sans-serif;
  }
  
 .info{
  display: flex;
 }

 .contenido{
  flex-direction: column;
  height: 850px;
 }
 .contenido-texto{
  display: flex;
  flex-direction: column;
  height: 340px;
 }
 h1{
  color: #3FA7E0;
 }
p{
  
  text-align: left;

 }
 .formulario {
  margin: 20px;
  width: 80%;
  position: relative;
  justify-content: center;
  border-radius:15px;
 border: 1px solid #fff;
  padding: 10px;
}
/* .formulario::before{
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.177);
} */
/* Columna flotante para etiquetas: 25% de ancho */
.formulario-correo {
  font-size:16px;
  margin: 10px;
  float: left;
  width: 95%;
  margin-top: 6px;
}

/* Columna flotante para entradas: 75% de ancho */
/*.form {
  float: left;
  width: 75%;
  margin-top: 6px;
}*/

/* Borrar flotadores después de las columnas */
.fila{
  display: flex;
  flex-direction: column;
}
.fila:after {
  content: "";
  display: table;
  clear: both;
}
/*  La clase "site-footer"  contiene todo lo que se vera de ultimo en la pagina  */

.site-footer
{
  height: 704px;
background-color:#0e447afd;
padding:35px 0 20px;
font-size:15px;
line-height:24px;
color:#737373;
}
.row{
  height: 600px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;

margin: 10px;
}
.row2{
margin:9px;
justify-content: center;
}
.footer-img{
display: flex;
flex-direction: column;
height: 90px;
width: 110px;
margin: 6px;
}
.col-sm-12.col-md-6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  

.col-xs-6.col-md-3{
height: auto;
margin-top:6px ;
width: 35vh;
display: flex;
margin: 0px 10px 10px 10px;
}
.text-justify{
margin: 8px;
height: auto;
width: 300px;
color: #fff;
text-align: justify;
}


.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#6EC1E4;
text-decoration:none;
}
.footer-links
{
text-decoration: none;
padding-left:0;
list-style:none
}
.footer-links li
{

display:block
}
.footer-links a
{
text-decoration: none;
color:#c6c6c6;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#1577dafd;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:center
}
.site-footer .social-icons a
{
width: 50px;
height:50px;
line-height:50px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#082c50fd;
}
.copyright-text
{

font-size: 14px;
color: #fff;
height: auto;
padding-top: 20px;
margin:5px
}
.copyright-text p{

text-align: center;
}
.row2{
margin-top: 15px;
display: flex;
}

.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#ffffff;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.instagram:hover
{
background-color:#aa255f
}
.social-icons a.youtube:hover
{
background-color:#c22424
}

}
/* Movil grande */
@media (min-width: 460px) and (max-width:720px) {
  nav ul .opciones {
    width: 100%;
  }
 
 
 
  /*En el banner, se encuentra la imagen de fondo, el texto y una imagen*/
  
  .banner{
    height: 650px;
   
}
.image-background{
  background-image: url(/img/463px\ backgropund\ resposnsive.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: fadeEffect 0.5s ease-in-out;
}

@keyframes fadeEffect{
from{opacity: 0;}
to{opacity: 1;}
}
.banner-contenedor{
  display: flex;
  width: 75%;
  flex-direction: row;
  height: 90%;
  align-items: center;
     justify-content: space-between;
     padding: 0;
}
span{
  height: 100px;
  width: 100px;
}
.image-icon-contacto{
  width: 200px;
  
  overflow: hidden;
}
.image-icon-contacto img{
  
  width: 200px;
  
}
.banner h1{
  color:#3FA7E0;
  font-size: 35px;
  height: 180px;
  display: flex;
  width: 200px;
  padding-left: 50px;
  justify-content: start;
    font-family: 'Poppins', sans-serif;
}
.waves{
  display: flex;
}

.contenido{
flex-direction: column;
height: 800px;
}
.contenido-texto{
height: auto;
}
h1{
color: #3FA7E0;
}
p{

justify-content: left;
}
/*  La clase "site-footer"  contiene todo lo que se vera de ultimo en la pagina  */

.site-footer
{
height: 641px;
background-color:#0e447afd;
padding:35px 0 20px;
font-size:15px;
line-height:24px;
color:#73737300;
}
.row{
  height: 540px;
display: flex;
flex-direction: row;
justify-content: space-evenly;

align-items: center;

margin: 10px;
}
.row2{
margin:9px;
justify-content: center;
}
.footer-img{
display: flex;
flex-direction: column;
height: 90px;
width: 110px;
margin: 6px;
}
.col-sm-12.col-md-6{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  

.col-xs-6.col-md-3{
flex-direction: column;
margin-top:6px ;
width:27vh;
display: flex;
margin: 0px 10px 10px 10px;
}
.text-justify{
margin: 8px;
height: auto;
width: 400px;
color: #fff;
text-align: justify;
}


.site-footer h6
{
color:#fff;
font-size:16px;
text-transform:uppercase;
margin-top:5px;
letter-spacing:2px
}
.site-footer a
{
color:#737373;
}
.site-footer a:hover
{
color:#3366cc;
text-decoration:none;
}
.footer-links
{
text-decoration: none;
padding-left:0;
list-style:none
}
.footer-links li
{

display:block
}
.footer-links a
{
text-decoration: none;
color:#c6c6c6
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
color:#29aafe;
text-decoration:none;
}
.footer-links.inline li
{
display:inline-block
}
.site-footer .social-icons
{
text-align:center
}
.site-footer .social-icons a
{
width: 50px;
height:50px;
line-height:50px;
margin-left:6px;
margin-right:0;
border-radius:100%;
background-color:#082c50fd;
}
.copyright-text
{
  padding-bottom: 20px;
  padding-top: 20px;
font-size: 14px;
color: #fff;
height: auto;
margin:5px
}
.copyright-text p{

text-align: center;
}
.row2{
margin-top: 15px;
display: flex;
}

.social-icons
{
padding-left:0;
margin-bottom:0;
list-style:none
}
.social-icons li
{
display:inline-block;
margin-bottom:4px
}
.social-icons li.title
{
margin-right:15px;
text-transform:uppercase;
color:#96a2b2;
font-weight:700;
font-size:13px
}
.social-icons a{
background-color:#eceeef;
color:#ffffff;
font-size:16px;
display:inline-block;
line-height:44px;
width:44px;
height:44px;
text-align:center;
margin-right:8px;
border-radius:100%;
-webkit-transition:all .2s linear;
-o-transition:all .2s linear;
transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
color:#fff;
background-color:#29aafe
}
.social-icons.size-sm a
{
line-height:34px;
height:34px;
width:34px;
font-size:14px
}
.social-icons a.instagram:hover
{
background-color:#aa255f
}
.social-icons a.youtube:hover
{
background-color:#c22424
}

}
/* Laptop pequeña */
@media (min-width: 720px) and (max-width:920px) {
  nav ul .opciones {
    width: 100%;
  }
  .banner{
    height: 650px;
   
}
.image-background{
  background-image: url(/img/720px\ background\ responsive.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeEffect 0.5s ease-in-out;
}

@keyframes fadeEffect{
from{opacity: 0;}
to{opacity: 1;}
}
.banner-contenedor{
  display: flex;
  width: 75%;
  flex-direction: row;
  height: 60%;
  align-items: start;
     justify-content: space-between;
     padding: 0;
}
span{
  height: 100px;
  width: 100px;
}
.image-icon-contacto{
  width: 250px;
  
  overflow: hidden;
}
.image-icon-contacto img{
  
  width: 250px;
  
}
.banner h1{
  color:#3FA7E0;
  font-size: 45px;
  height: 130px;
  display: flex;
  width:780px;
 justify-content:right;
    font-family: 'Poppins', sans-serif;
}
.contenedor-textos{
    width:60%;
      
  padding-top: 50px;
}
    
  .contenido{
  flex-direction: column;
  height: 800px;
  
  }
  .contenido-texto{
  height: auto;
  }
  h1{
  color: #3FA7E0;
  }
  p{

  justify-content: left;
  }
    .map{
      justify-content: start;
    }
  
  
   /*  La clase "site-footer"  contiene todo lo que se vera de ultimo en la pagina  */
  
   .site-footer
   {
    height: 535px;
     background-color:#0e447afd;
     padding:35px 0 20px;
     font-size:15px;
     line-height:24px;
     color:#737373;
   }
   .row {
     height: 425px;
     display: flex;
     align-items: center;
    
     justify-content:space-evenly;
    
     margin: 10px;
   }
   
   .row2{
     justify-content: center;
     margin: 10px;
   }
   .footer-img{ 
     flex-direction: column;
     display: flex;
     height: 130px;
     width: 110px;
   }
   .col-sm-12.col-md-6{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   }
   
   .col-xs-6.col-md-3{
     
     display: flex;
     align-items: start;
     
     width: 30vh;
     height: 250px;
    
     margin: 0px 10px 10px 10px;
   }
   .text-justify{
     height: auto;
     width: 600px;
     color: #fff;
     text-align: justify;
     flex-direction: column;
     display: flex;
   }
   
   
   .site-footer h6
   {
     color:#fff;
     font-size:16px;
     text-transform:uppercase;
     margin-top:5px;
     letter-spacing:2px
   }
   .site-footer a
   {
     color:#737373;
   }
   .site-footer a:hover
   {
     color:#3366cc;
     text-decoration:none;
   }
   .footer-links
   {
     text-decoration: none;
     padding-left:0;
     list-style:none
   }
   .footer-links li
   {
     
     display:block
   }
   .footer-links a
   {
     text-decoration: none;
     color:#c6c6c6;
   }
   .footer-links a:active,.footer-links a:focus,.footer-links a:hover
   {
     color:#1577dafd;
     text-decoration:none;
   }
   .footer-links.inline li
   {
     display:inline-block
   }
   .site-footer .social-icons
   {
     text-align:center
   }
   .site-footer .social-icons a
   {
     width: 50px;
     height:50px;
     line-height:50px;
     margin-left:6px;
     margin-right:0;
     border-radius:100%;
     background-color:#082c50fd;
   }
   .copyright-text
   {
     padding-bottom: 20px;
     padding-top: 20px;
     color: #fff;
     height: auto;
     margin:5px
   }
   
   .row2{
     margin-top: 5px;
     display: flex;
   }
   
   .social-icons
   {
     padding-left:0;
     margin-bottom:0;
     list-style:none
   }
   .social-icons li
   {
     display:inline-block;
     margin-bottom:4px
   }
   .social-icons li.title
   {
     margin-right:15px;
     text-transform:uppercase;
     color:#96a2b2;
     font-weight:700;
     font-size:13px
   }
   .social-icons a{
     background-color:#eceeef;
     color:#ffffff;
     font-size:16px;
     display:inline-block;
     line-height:44px;
     width:44px;
     height:44px;
     text-align:center;
     margin-right:8px;
     border-radius:100%;
     -webkit-transition:all .2s linear;
     -o-transition:all .2s linear;
     transition:all .2s linear
   }
   .social-icons a:active,.social-icons a:focus,.social-icons a:hover
   {
     color:#fff;
     background-color:#29aafe
   }
   .social-icons.size-sm a
   {
     line-height:34px;
     height:34px;
     width:34px;
     font-size:14px
   }
   .social-icons a.instagram:hover
   {
     background-color:#aa255f
   }
   .social-icons a.youtube:hover
   {
     background-color:#c22424
   }
  }
@media (min-width:920px) and (max-width:1100px){
  
 
  .banner{
    height: 650px;
   
}
.image-background{
  background-image: url(/img/920px\ background\ responsive.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeEffect 0.5s ease-in-out;
}

@keyframes fadeEffect{
from{opacity: 0;}
to{opacity: 1;}
}
.banner-contenedor{
  display: flex;
  width: 75%;
  flex-direction: row;
  height: 60%;
  align-items: start;
     justify-content: space-between;
     padding: 0;
}
span{
  height: 100px;
  width: 100px;
}
.image-icon-contacto{
  width: 300px;
  overflow: hidden;
}
.image-icon-contacto img{
  
  width: 300px;
  
}
.banner h1{
  color:#3FA7E0;
  font-size: 50px;
  height: 130px;
  display: flex;
  width: 420px;
 justify-content:end;
    font-family: 'Poppins', sans-serif;
}
 
    .contenido{
    flex-direction: column;
    height: 800px;
    }
    .contenido-texto{
    height: auto;
    }
    h1{
    color: #3FA7E0;
    }
    p{
   
    justify-content: left;
    }
      
   /*  La clase ".site-footer"  contiene todo lo que se vera en el footer  */
 .site-footer
 {
  height: 356px;
   background-color:#0e447afd;
   padding:35px 0 20px;
   font-size:15px;
   line-height:24px;
   color:#737373;
 }
 .row{
  height: 240px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;
   padding: 15px;
   margin: 10px;
 }
 .row2{
   justify-content: start;
 }
 .footer-img{
  
   height: 160px;
   width: 110px;
   margin: 5px;
 }
 
 .footer-img img{
   width: 100px;
 }
 .col-sm-12.col-md-6{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: start;
 
  }
 .col-xs-6.col-md-3{
   display: flex;
   justify-content: start;
   width: auto;
   height: 156px;
   flex-direction: column;
   margin: 0px 10px 10px 10px;
 }
 .text-justify{
  
   height: auto;
   width: 380px;
   color: #fff;
   text-align: justify;
 }

 .site-footer h6
 {
   color:#fff;
   font-size:15px;
   text-transform:uppercase;
   margin-top:5px;
   letter-spacing:2px
 }
 .site-footer a
 {
   color:#737373;
 }
 .site-footer a:hover
 {
   color:#3366cc;
   text-decoration:none;
 }
 .footer-links
 {
   text-decoration: none;
   padding-left:0;
   list-style:none
 }
 .footer-links li
 {
   
   display:block
 }
 .footer-links a
 {
   text-decoration: none;
   font-size: 14px;
   color:#c6c6c6
 }
 .footer-links a:active,.footer-links a:focus,.footer-links a:hover
 {
   color:#3366cc;
   text-decoration:none;
 }
 .footer-links.inline li
 {
   display:inline-block
 }
 .site-footer .social-icons
 {
   text-align:center
 }
 .site-footer .social-icons a
 {
   width: 50px;
   height:50px;
   line-height:50px;
   margin-left:6px;
   margin-right:0;
   border-radius:100%;
   background-color:#082c50fd;
 }
 .copyright-text
 {
   font-size: 15px;
   color: #fff;
   height: auto;

   margin-top: 20px;
   margin-bottom: 20px;
 }
 
 .row2{
   margin-top: 5px;
   display: flex;
 }
 
 .social-icons
 {
   padding-left:0;
   margin-bottom:0;
   list-style:none
 }
 .social-icons li
 {
   display:inline-block;
   margin-bottom:4px
 }
 .social-icons li.title
 {
   margin-right:15px;
   text-transform:uppercase;
   color:#96a2b2;
   font-weight:700;
   font-size:13px
 }
 .social-icons a{
   background-color:#eceeef;
   color:#ffffff;
   font-size:16px;
   display:inline-block;
   line-height:44px;
   width:44px;
   height:44px;
   text-align:center;
   margin-right:8px;
   border-radius:100%;
   -webkit-transition:all .2s linear;
   -o-transition:all .2s linear;
   transition:all .2s linear
 }
 .social-icons a:active,.social-icons a:focus,.social-icons a:hover
 {
   color:#fff;
   background-color:#082c50fd;
 }
 .social-icons.size-sm a
 {
   line-height:34px;
   height:34px;
   width:34px;
   font-size:14px
 }
 .social-icons a.instagram:hover
 {
   background-color:#aa255f
 }
 .social-icons a.youtube:hover
 {
   background-color:#c22424
 }  
}


